@charset 'utf-8';
@import url('common.css');



/* visual */
header  {background: url('../img/main/visual-1.jpg') no-repeat 0 0/ 100%;}

.visual {
    padding: 0 0 1%;
    display: flex; flex-direction: column;
    width: 100%;
}
.visual .indi { 
    width: 100%; 
    display: flex; justify-content: space-between;
    margin-top: 10%;
}
.visual .indi a { display:block; width: 3%; margin: 0 4%;}
.visual .indi a:last-child { transform: rotateY(180deg);}

.visual .indi a img {width: 100%;}
.visual .slide { 
    display: flex; justify-content: center; align-items: center;
    margin: 18% 0 0;
}
.visual .slide span {
    display: block;
    width: 5%; height: 2px; margin: 0 1%;
    font-size: 0.1rem; 
    color: transparent;
    background: black; border-radius: 20px;
}
.visual .slide span:nth-child(1) {background:#f78b1e ;}


/* 지역별 관광 */
.local {width: 100%; background: black; color: white;}
.local .local_div {
    width: 100%; padding: 10% 0; 
    display: flex; 
    justify-content: center; align-items: center; flex-direction: column;
}
.local .local_div h4 {font-size: 2rem;}
.local .local_div p:nth-of-type(1) {line-height: 2;}


/* sns_section */
.sns { width: 100%; padding:13% 0; background: rgba(8, 163, 209,0.33);}
.sns .sns_div {width: 100%;}
.sns .sns_div h4 { 
    width: 100%; text-align: center; padding: 0 0 1%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.39;
    letter-spacing: 0.9px;
    color: #111111;
}
.sns .sns_div p {
    width: 100%; text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.45px;
    color: #111111;
}

.sns .sns_div .sns_slide{ padding: 0px; position: relative;}
.sns .sns_div .sns_slide .indi{
    width: 100%; height:100%; padding: 0 10%; 
    display: flex; justify-content: space-between;
    position: absolute;
    pointer-events: none;
}
.sns .sns_div .sns_slide .indi a{
    width:11%; height:100%;
    display:flex;
    justify-content: center;    
    align-items: center;
    pointer-events:fill;
}
.sns .sns_div .sns_slide .indi a:nth-of-type(1){
    background:linear-gradient(90deg,rgb(174, 225, 240),rgba(174, 225, 240,0.5));
}
.sns .sns_div .sns_slide .indi a:nth-of-type(2){
    background:linear-gradient(90deg,rgba(174, 225, 240,0.5),rgb(174, 225, 240));
}
.sns .sns_div .sns_slide .indi a:nth-of-type(2) img{
    transform: rotate(180deg);
}
.sns .sns_div .sns_slide .indi a img{display: block; width: 30%;}

.sns .sns_div .sns_slide ul { 
    width: 80%; margin: 0 auto; padding:4% 0 ;
    overflow: hidden;
    display: flex; justify-content: center;
}
.sns .sns_div .sns_slide ul li {
    width:22%; margin:0 1.7%; flex:0 0 auto;
    transition:.3s;
}

.sns .sns_div .sns_slide ul li a {display: block; width: 100%;}
.sns .sns_div .sns_slide ul li a img {display: block; width: 100%;}

.sns .sns_div .sns_slide ul li:hover{
    transform: scale(1.2); margin:0 3%;
}


/* 두레소식 */

.news {width: 100%;}
.news .news_div {width: 80%; margin: 0 auto; padding: 16% 0 0;}
.news .news_div h4{
    padding: 0 0 1%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.39;
    letter-spacing: 0.9px;
    text-align: center;
    color: #111111;
}
.news .news_div p{
    margin: 0 0 5%;
    font-family:'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height:2;
    letter-spacing: 0.45px;
    text-align: center;
    color: #111111;
}
.news .news_div .news_list {
    width: 100%; padding-bottom: 200px;
    display: flex; justify-content: center;
}
.news .news_div .news_list li {
    position: relative; 
    width: 21%;
    padding: 4% 4% 6% 4%; margin: 2%;
   

    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;
    color: #111111;
    word-break: keep-all;
    transition:.5s;

}
.news .news_div .news_list li::before {
    content:'';
    border: 1px solid #64605f; 
    width:100%; height:100%;
    position:absolute; left:0; top:0;   
    transition:.2s;
}
/* 소식 hover border */
.news .news_div .news_list li:hover::before {
    border: 9.6px solid #f68b1e ;
}
.news .news_div .news_list li a img {
    position: absolute; opacity: 0.3;
}
.news .news_div .news_list li a:first-child img {
    right: 0; top: 0; margin: 6%;
    transform: rotate(0); 
}
.news .news_div .news_list li a:last-child img {
    right: 0; bottom: 0;
    width: 15%; margin: 5%;
}
/* 소식 hover */
.news .news_div .news_list li:hover {
    
    box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
    transform: translate(-0%, -5%);
}
.news .news_div .news_list li:hover a img {opacity: 0.7;}
.news .news_div .news_list li:hover a:first-child img {
    background-color: #f68b1e;
    border-radius: 50%;
    transform: rotate(90deg); transition: 0.5s;
}


/* 간행물*/
.journal {width: 100%; }
.journal .journal_div { 
    width: 100%; margin: 0 0 18%;
    position: relative; 
    display: flex; justify-content: flex-end;
}
.journal .journal_div .journal_title { }
.journal .journal_div .journal_title h4 {
    writing-mode: vertical-lr;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 14px;
    text-align: center;
    color: #111111;
}
.journal .journal_div .journal_title a {display: block; text-align: center; transform: rotate(0);}
.journal .journal_div .journal_title a img {opacity: 0.5;} 
.journal .journal_div ul {
    background: rgba(8, 163, 209, 0.67); width: 64%;
    padding: 5%;
    display: flex; justify-content: space-between; align-items: baseline;
}
.journal .journal_div ul li {width: 30%;}
.journal .journal_div ul li figure {position: relative;}
.journal .journal_div ul li figure img {
    display: block; width: 100%;
}
.journal .journal_div ul li figure::after {
    content: url("../img/main/clip_white.png");
    display: flex; justify-content: center; align-items: center;
    position: absolute; top: 0; left: 0;
    background: rgba(0, 0, 0, 0.5) ;
    width: 100%; height: 100%;
    z-index: -1;
}

.journal .journal_div ul li p {
    margin-top: 10%;

    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.45px;
    text-align: center;
    color: #111111;
}
/* 간행물 hover */
.journal .journal_div .journal_title a:hover img {
    opacity: 0.7;
    background-color: #f68b1e;
    border-radius: 50%;
    transform: rotate(90deg); transition: 0.5s;
}

.journal .journal_div ul li figure:hover::after {z-index: 1;}



/* reponsive */

@media (max-width:767px) {
    /* visual */
    header  {background: url('../img/main/visual-1.jpg') no-repeat 0 0/ 100%;}

    .visual {
        padding: 0 0 1%;
        display: flex; flex-direction: column;
        width: 100%;
    }
    .visual .indi { 
        width: 100%; 
        display: flex; justify-content: space-between;
        margin-top: 11%;
    }
    .visual .indi a { display:block; width: 3%; margin: 0 4%;}
    .visual .indi a:last-child { transform: rotateY(180deg);}

    .visual .indi a img {width: 100%;}
    .visual .slide { 
        display: flex; justify-content: center; align-items: center;
        margin: 11% 0 0;
    }
    .visual .slide span {
        display: block;
        width: 1%; height: 2px; margin: 0 0.5%;
        font-size: 0.1rem; 
        color: transparent;
        background: black; border-radius: 50px;
    }
    .visual .slide span:nth-child(1) {background:#f78b1e ;}


    /* 지역별 관광 */
    .local { width: 100%; background: black; color: white;}
    .local .local_div {
        width: 100%; padding: 10% 0; 
        display: flex; 
        justify-content: center; align-items: center; flex-direction: column;
    }
    .local .local_div h4 {font-size: 2rem;}
    .local .local_div p:nth-of-type(1) {line-height: 2;}
    .local .local_div p:nth-of-type(2) {width: 100%;}
    .local .local_div p:nth-of-type(2) img {width: 100%;}


    /* sns_section */
    .sns { width: 100%; padding:13% 0; background: rgba(8, 163, 209,0.33);}
    .sns .sns_div {width: 100%;}
    .sns .sns_div h4 { 
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .sns .sns_div p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3;
        letter-spacing: 0.45px;
        color: #111111;
    }

    .sns .sns_div .sns_slide{ padding: 0px; position: relative;}
    .sns .sns_div .sns_slide .indi{
        width: 100%; height:100%; padding: 0 1%; 
        display: flex; justify-content: space-between;
        position: absolute;
        pointer-events: none;
    }
    .sns .sns_div .sns_slide .indi a{
        width:11%; height:100%;
        display:flex;
        justify-content: center;    
        align-items: center;
        pointer-events:fill;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(1){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2) img{
        transform: rotate(180deg);
    }
    .sns .sns_div .sns_slide .indi a img{display: block; width: 100%;}

    .sns .sns_div .sns_slide ul { 
        width: 80%; margin: 0 auto; padding:4% 0 ;
        overflow: hidden;
        display: flex; justify-content: center;
    }
    .sns .sns_div .sns_slide ul li {
        width:90%; margin:0 3%; flex:0 0 auto;
        transition:.3s;
    }

    .sns .sns_div .sns_slide ul li a {display: block; width: 100%;}
    .sns .sns_div .sns_slide ul li a img {display: block; width: 100%;}

    .sns .sns_div .sns_slide ul li:hover{
        transform: scale(1.2); margin:0 3%;
    }


    /* 두레소식 */

    .news {width: 100%;}
    .news .news_div {width: 80%; margin: 0 auto; padding: 16% 0 0;}
    .news .news_div h4{
        padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        text-align: center;
        color: #111111;
    }
    .news .news_div p{
        margin: 0 0 5%;
        font-family:'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height:3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
    }
    .news .news_div .news_list {
        width: 100%; padding-bottom: 55%;
        display: flex; flex-direction: column;
    }
    .news .news_div .news_list li {
        position: relative; 
        width: 100%;
        padding: 20% 4%; margin: 4% 0;
    

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: 0.5px;
        text-align: left;
        color: #111111;
        word-break: keep-all;
        transition:.5s;

    }
    .news .news_div .news_list li::before {
        content:'';
        border: 1px solid #64605f; 
        width:100%; height:100%;
        position:absolute; left:0; top:0;   
        transition:.2s;
    }
    /* 소식 hover border */
    .news .news_div .news_list li:hover::before {
        border: 9.6px solid #f68b1e ;
    }
    .news .news_div .news_list li a img {
        position: absolute; opacity: 0.3;
    }
    .news .news_div .news_list li a:first-child img {
        right: 0; top: 0; margin: 6%;
        transform: rotate(0); 
    }
    .news .news_div .news_list li a:last-child img {
        right: 0; bottom: 0;
        width: 15%; margin: 5%;
    }
    /* 소식 hover */
    .news .news_div .news_list li:hover {
        
        box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
        transform: translate(-0%, -5%);
    }
    .news .news_div .news_list li:hover a img {opacity: 0.7;}
    .news .news_div .news_list li:hover a:first-child img {
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }


    /* 간행물*/
    .journal {width: 100%; }
    .journal .journal_div { 
        width: 100%; margin: 0 0 0;
        position: relative; 
        display: flex; justify-content: flex-end;
    }
    .journal .journal_div .journal_title { }
    .journal .journal_div .journal_title h4 {
        writing-mode: vertical-lr;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 14px;
        text-align: center;
        color: #111111;
    }
    .journal .journal_div .journal_title a {display: block; text-align: center; transform: rotate(0);}
    .journal .journal_div .journal_title a img {opacity: 0.5;} 
    .journal .journal_div ul {
        background: rgba(8, 163, 209, 0.67); width: 80%;
        padding: 10%;
        display: flex; flex-direction: column;
    }
    .journal .journal_div ul li {width: 100%;}
    .journal .journal_div ul li figure {position: relative;}
    .journal .journal_div ul li figure img {
        display: block; width: 100%;
    }
    .journal .journal_div ul li figure::after {
        content: url("../img/main/clip_white.png");
        display: flex; justify-content: center; align-items: center;
        position: absolute; top: 0; left: 0;
        background: rgba(0, 0, 0, 0.5) ;
        width: 100%; height: 100%;
        z-index: -1;
    }

    .journal .journal_div ul li p {
        margin: 5% 0 15%;

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal; font-stretch: normal; font-style: normal;
        line-height: 1.3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
        word-break: keep-all;
    }
    /* 간행물 hover */
    .journal .journal_div .journal_title a:hover img {
        opacity: 0.7;
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }

    .journal .journal_div ul li figure:hover::after {z-index: 1;}


}


/* reponsive2 */

@media (min-width:768px) and (max-width:1023px) {
    /* visual */
    header  {background: url('../img/main/visual-1.jpg') no-repeat 0 0/ 100%;}

    .visual {
        padding: 0 0 1%;
        display: flex; flex-direction: column;
        width: 100%;
    }
    .visual .indi { 
        width: 100%; 
        display: flex; justify-content: space-between;
        margin-top: 11%;
    }
    .visual .indi a { display:block; width: 3%; margin: 0 4%;}
    .visual .indi a:last-child { transform: rotateY(180deg);}

    .visual .indi a img {width: 100%;}
    .visual .slide { 
        display: flex; justify-content: center; align-items: center;
        margin: 15% 0 0;
    }
    .visual .slide span {
        display: block;
        width: 1%; height: 2px; margin: 0 0.5%;
        font-size: 0.1rem; 
        color: transparent;
        background: black; border-radius: 50px;
    }
    .visual .slide span:nth-child(1) {background:#f78b1e ;}


    /* 지역별 관광 */
    .local { width: 100%; background: black; color: white;}
    .local .local_div {
        width: 100%; padding: 10% 0; 
        display: flex; 
        justify-content: center; align-items: center; flex-direction: column;
    }
    .local .local_div h4 {font-size: 2rem;}
    .local .local_div p:nth-of-type(1) {line-height: 2;}
    .local .local_div p:nth-of-type(2) {width: 100%;}
    .local .local_div p:nth-of-type(2) img {width: 100%;}


    /* sns_section */
    .sns { width: 100%; padding:13% 0; background: rgba(8, 163, 209,0.33);}
    .sns .sns_div {width: 100%;}
    .sns .sns_div h4 { 
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.3rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .sns .sns_div p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3;
        letter-spacing: 0.45px;
        color: #111111;
    }

    .sns .sns_div .sns_slide{ padding: 0px; position: relative;}
    .sns .sns_div .sns_slide .indi{
        width: 100%; height:100%; padding: 0 1%; 
        display: flex; justify-content: space-between;
        position: absolute;
        pointer-events: none;
    }
    .sns .sns_div .sns_slide .indi a{
        width:6%; height:100%;
        display:flex;
        justify-content: center;    
        align-items: center;
        pointer-events:fill;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(1){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2) img{
        transform: rotate(180deg);
    }
    .sns .sns_div .sns_slide .indi a img{display: block; width: 100%;}

    .sns .sns_div .sns_slide ul { 
        width: 80%; margin: 0 auto; padding:4% 0 ;
        overflow: hidden;
        display: flex; justify-content: center;
    }
    .sns .sns_div .sns_slide ul li {
        width:40%; margin:0 3%; flex:0 0 auto;
        transition:.3s;
    }

    .sns .sns_div .sns_slide ul li a {display: block; width: 100%;}
    .sns .sns_div .sns_slide ul li a img {display: block; width: 100%;}

    .sns .sns_div .sns_slide ul li:hover{
        transform: scale(1.2); margin:0 3%;
    }


    /* 두레소식 */

    .news {width: 100%;}
    .news .news_div {width: 95%; margin: 0 auto; padding: 16% 0 0;}
    .news .news_div h4{
        padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.3rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        text-align: center;
        color: #111111;
    }
    .news .news_div p{
        margin: 0 0 5%;
        font-family:'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height:3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
    }
    .news .news_div .news_list {
        width: 100%; padding-bottom: 55%;
        display: flex; flex-wrap: wrap; justify-content: space-evenly;
    }
    .news .news_div .news_list li {
        position: relative; 
        width: 45%;
        padding: 12% 4%; margin: 4% 0;
    

        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: 0.5px;
        text-align: left;
        color: #111111;
        word-break: keep-all;
        transition:.5s;

    }
    .news .news_div .news_list li::before {
        content:'';
        border: 1px solid #64605f; 
        width:100%; height:100%;
        position:absolute; left:0; top:0;   
        transition:.2s;
    }
    /* 소식 hover border */
    .news .news_div .news_list li:hover::before {
        border: 9.6px solid #f68b1e ;
    }
    .news .news_div .news_list li a img {
        position: absolute; opacity: 0.3;
    }
    .news .news_div .news_list li a:first-child img {
        right: 0; top: 0; margin: 6%;
        transform: rotate(0); 
    }
    .news .news_div .news_list li a:last-child img {
        right: 0; bottom: 0;
        width: 15%; margin: 5%;
    }
    /* 소식 hover */
    .news .news_div .news_list li:hover {
        
        box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
        transform: translate(-0%, -5%);
    }
    .news .news_div .news_list li:hover a img {opacity: 0.7;}
    .news .news_div .news_list li:hover a:first-child img {
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }


    /* 간행물*/
    .journal {width: 100%; }
    .journal .journal_div { 
        width: 100%; margin: 0 0 0;
        position: relative; 
        display: flex; justify-content: flex-end;
    }
    .journal .journal_div .journal_title { }
    .journal .journal_div .journal_title h4 {
        writing-mode: vertical-lr;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 14px;
        text-align: center;
        color: #111111;
    }
    .journal .journal_div .journal_title a {display: block; text-align: center; transform: rotate(0);}
    .journal .journal_div .journal_title a img {opacity: 0.5;} 
    .journal .journal_div ul {
        background: rgba(8, 163, 209, 0.67); width: 80%;
        padding: 7% 1% 0;
        display: flex; justify-content: space-evenly; flex-wrap: wrap;
    }
    .journal .journal_div ul li {width: 45%;}
    .journal .journal_div ul li figure {position: relative;}
    .journal .journal_div ul li figure img {
        display: block; width: 100%;
    }
    .journal .journal_div ul li figure::after {
        content: url("../img/main/clip_white.png");
        display: flex; justify-content: center; align-items: center;
        position: absolute; top: 0; left: 0;
        background: rgba(0, 0, 0, 0.5) ;
        width: 100%; height: 100%;
        z-index: -1;
    }

    .journal .journal_div ul li p {
        margin: 5% 0 15%;

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal; font-stretch: normal; font-style: normal;
        line-height: 1.3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
        word-break: keep-all;
    }
    /* 간행물 hover */
    .journal .journal_div .journal_title a:hover img {
        opacity: 0.7;
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }

    .journal .journal_div ul li figure:hover::after {z-index: 1;}

 
}


/* reponsive3 */
@media (min-width:1024px) and (max-width:1279px) {
    /* visual */
    header  {background: url('../img/main/visual-1.jpg') no-repeat 0 0/ 100%;}

    .visual {
        padding: 0 0 1%;
        display: flex; flex-direction: column;
        width: 100%;
    }
    .visual .indi { 
        width: 100%; 
        display: flex; justify-content: space-between;
        margin-top: 10%;
    }
    .visual .indi a { display:block; width: 3%; margin: 0 4%;}
    .visual .indi a:last-child { transform: rotateY(180deg);}

    .visual .indi a img {width: 100%;}
    .visual .slide { 
        display: flex; justify-content: center; align-items: center;
        margin: 18% 0 0;
    }
    .visual .slide span {
        display: block;
        width: 5%; height: 2px; margin: 0 1%;
        font-size: 0.1rem; 
        color: transparent;
        background: black; border-radius: 20px;
    }
    .visual .slide span:nth-child(1) {background:#f78b1e ;}


    /* 지역별 관광 */
    .local {width: 100%; background: black; color: white;}
    .local .local_div {
        width: 100%; padding: 10% 0; 
        display: flex; 
        justify-content: center; align-items: center; flex-direction: column;
    }
    .local .local_div h4 {font-size: 2rem;}
    .local .local_div p:nth-of-type(1) {line-height: 2;}


    /* sns_section */
    .sns { width: 100%; padding:13% 0; background: rgba(8, 163, 209,0.33);}
    .sns .sns_div {width: 100%;}
    .sns .sns_div h4 { 
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .sns .sns_div p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: 0.45px;
        color: #111111;
    }

    .sns .sns_div .sns_slide{ padding: 0px; position: relative;}
    .sns .sns_div .sns_slide .indi{
        width: 100%; height:100%; padding: 0 10%; 
        display: flex; justify-content: space-between;
        position: absolute;
        pointer-events: none;
    }
    .sns .sns_div .sns_slide .indi a{
        width:11%; height:100%;
        display:flex;
        justify-content: center;    
        align-items: center;
        pointer-events:fill;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(1){
        background:linear-gradient(90deg,rgb(174, 225, 240),rgba(174, 225, 240,0.5));
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2){
        background:linear-gradient(90deg,rgba(174, 225, 240,0.5),rgb(174, 225, 240));
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2) img{
        transform: rotate(180deg);
    }
    .sns .sns_div .sns_slide .indi a img{display: block; width: 30%;}

    .sns .sns_div .sns_slide ul { 
        width: 80%; margin: 0 auto; padding:4% 0 ;
        overflow: hidden;
        display: flex; justify-content: center;
    }
    .sns .sns_div .sns_slide ul li {
        width:22%; margin:0 1.7%; flex:0 0 auto;
        transition:.3s;
    }

    .sns .sns_div .sns_slide ul li a {display: block; width: 100%;}
    .sns .sns_div .sns_slide ul li a img {display: block; width: 100%;}

    .sns .sns_div .sns_slide ul li:hover{
        transform: scale(1.2); margin:0 3%;
    }


    /* 두레소식 */

    .news {width: 100%;}
    .news .news_div {width: 80%; margin: 0 auto; padding: 16% 0 0;}
    .news .news_div h4{
        padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        text-align: center;
        color: #111111;
    }
    .news .news_div p{
        margin: 0 0 5%;
        font-family:'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height:2;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
    }
    .news .news_div .news_list {
        width: 100%; padding-bottom: 200px;
        display: flex; justify-content: center;
    }
    .news .news_div .news_list li {
        position: relative; 
        width: 29%;
        padding: 4% 4% 6% 4%; margin: 2%;
    

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-align: left;
        color: #111111;
        word-break: keep-all;
        transition:.5s;

    }
    .news .news_div .news_list li::before {
        content:'';
        border: 1px solid #64605f; 
        width:100%; height:100%;
        position:absolute; left:0; top:0;   
        transition:.2s;
    }
    /* 소식 hover border */
    .news .news_div .news_list li:hover::before {
        border: 9.6px solid #f68b1e ;
    }
    .news .news_div .news_list li a img {
        position: absolute; opacity: 0.3;
    }
    .news .news_div .news_list li a:first-child img {
        right: 0; top: 0; margin: 6%;
        transform: rotate(0); 
    }
    .news .news_div .news_list li a:last-child img {
        right: 0; bottom: 0;
        width: 15%; margin: 5%;
    }
    /* 소식 hover */
    .news .news_div .news_list li:hover {
        
        box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
        transform: translate(-0%, -5%);
    }
    .news .news_div .news_list li:hover a img {opacity: 0.7;}
    .news .news_div .news_list li:hover a:first-child img {
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }


    /* 간행물*/
    .journal {width: 100%; }
    .journal .journal_div { 
        width: 100%; margin: 0 0 18%;
        position: relative; 
        display: flex; justify-content: flex-end;
    }
    .journal .journal_div .journal_title { }
    .journal .journal_div .journal_title h4 {
        writing-mode: vertical-lr;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 14px;
        text-align: center;
        color: #111111;
    }
    .journal .journal_div .journal_title a {display: block; text-align: center; transform: rotate(0);}
    .journal .journal_div .journal_title a img {opacity: 0.5;} 
    .journal .journal_div ul {
        background: rgba(8, 163, 209, 0.67); width: 64%;
        padding: 5%;
        display: flex; justify-content: space-between; align-items: baseline;
    }
    .journal .journal_div ul li {width: 30%;}
    .journal .journal_div ul li figure {position: relative;}
    .journal .journal_div ul li figure img {
        display: block; width: 100%;
    }
    .journal .journal_div ul li figure::after {
        content: url("../img/main/clip_white.png");
        display: flex; justify-content: center; align-items: center;
        position: absolute; top: 0; left: 0;
        background: rgba(0, 0, 0, 0.5) ;
        width: 100%; height: 100%;
        z-index: -1;
    }

    .journal .journal_div ul li p {
        margin-top: 10%;

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
    }
    /* 간행물 hover */
    .journal .journal_div .journal_title a:hover img {
        opacity: 0.7;
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }

    .journal .journal_div ul li figure:hover::after {z-index: 1;}

}